workflows/dev-team-orchestrator.json
{
  "name": "Dev Team Orchestrator",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Discord Trigger",
      "type": "n8n-nodes-base.discordTrigger",
      "typeVersion": 1,
      "position": [0, 400],
      "credentials": {
        "discordBotApi": {
          "id": "REPLACE_WITH_DISCORD_BOT_CREDENTIAL_ID",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-team",
              "leftValue": "={{ $json.content }}",
              "rightValue": "$team",
              "operator": { "type": "string", "operation": "startsWith" }
            },
            {
              "id": "cond-ralph",
              "leftValue": "={{ $json.content }}",
              "rightValue": "$ralph",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Filter $team/$ralph",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst content = msg.content || '';\nconst channelId = msg.channelId || msg.channel_id;\n\nlet mode = 'team';\nlet task = content;\n\nif (content.startsWith('$ralph')) {\n  mode = 'ralph';\n  task = content.replace(/^\\$ralph\\s*/, '').trim();\n} else if (content.startsWith('$team')) {\n  mode = 'team';\n  task = content.replace(/^\\$team\\s*/, '').trim();\n}\n\n// Extract repo (owner/repo)\nconst repoMatch = task.match(/(?:in|for|on)\\s+(\\S+\\/\\S+)/i);\nconst repository = repoMatch ? repoMatch[1] : null;\nif (repoMatch) task = task.replace(repoMatch[0], '').trim();\ntask = task.replace(/^[\"']|[\"']$/g, '').trim();\n\nreturn {\n  json: {\n    mode,\n    task,\n    repository,\n    channelId,\n    author: msg.author?.username || 'unknown',\n    maxRetries: mode === 'ralph' ? 3 : 0\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000010",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "content": "=🤖 **Task received** (`{{ $json.mode }}` mode)\n> {{ $json.task }}\n{{ $json.repository ? '📦 Repo: `' + $json.repository + '`' : '' }}\n\n⏳ Running Architect → Executor → Reviewer pipeline...",
        "options": { "channelId": "={{ $json.channelId }}" }
      },
      "id": "a1000000-0000-0000-0000-000000000011",
      "name": "Ack in Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [660, 280],
      "credentials": {
        "discordBotApi": {
          "id": "REPLACE_WITH_DISCORD_BOT_CREDENTIAL_ID",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Parse Command').first().json.repository }}/git/trees/main?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000020",
      "name": "Fetch Repo Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 520],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_GITHUB_CREDENTIAL_ID",
          "name": "GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cmd = $('Parse Command').first().json;\nconst treeResp = $input.first().json;\n\nlet fileTree = 'Repository structure unavailable.';\nif (treeResp.tree && Array.isArray(treeResp.tree)) {\n  fileTree = treeResp.tree\n    .filter(f => f.type === 'blob')\n    .map(f => f.path)\n    .slice(0, 200)\n    .join('\\n');\n}\n\nreturn { json: { ...cmd, fileTree } };"
      },
      "id": "a1000000-0000-0000-0000-000000000021",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 520]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are the Architect Agent. Analyze the task and produce a JSON execution plan.\\n\\nRespond with ONLY valid JSON (no markdown fences):\\n{\\n  \\\"task_summary\\\": \\\"one-line summary\\\",\\n  \\\"branch_name\\\": \\\"feature/descriptive-name\\\",\\n  \\\"steps\\\": [\\n    {\\n      \\\"step_id\\\": 1,\\n      \\\"action\\\": \\\"create|modify|delete\\\",\\n      \\\"target_file\\\": \\\"path/to/file\\\",\\n      \\\"description\\\": \\\"what and why\\\",\\n      \\\"acceptance_criteria\\\": [\\\"criterion 1\\\", \\\"criterion 2\\\"]\\n    }\\n  ],\\n  \\\"verification\\\": {\\n    \\\"commands\\\": [\\\"pytest tests/\\\", \\\"python -m mypy src/\\\"],\\n    \\\"expected_outcomes\\\": [\\\"All tests pass\\\", \\\"No type errors\\\"],\\n    \\\"image\\\": \\\"python:3.12-slim\\\"\\n  }\\n}\\n\\nRules: Never write code. One file per step. Keep steps small and verifiable. Always include verification.commands that can run in a clean clone.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Task: {{ $json.task }}\\n\\nRepository: {{ $json.repository || 'not specified' }}\\n\\nFile tree:\\n{{ $json.fileTree }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000030",
      "name": "🧠 Architect (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 520]
    },
    {
      "parameters": {
        "jsCode": "const cmd = $('Build Context').first().json;\nconst resp = $input.first().json;\nconst text = resp.content?.[0]?.text || '';\n\nlet plan;\ntry {\n  const jsonMatch = text.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n  plan = JSON.parse(jsonMatch ? jsonMatch[1] : text);\n} catch (e) {\n  plan = {\n    task_summary: cmd.task,\n    branch_name: 'feature/auto-' + Date.now(),\n    steps: [{\n      step_id: 1,\n      action: 'create',\n      target_file: 'output.txt',\n      description: text.slice(0, 500),\n      acceptance_criteria: ['Implementation matches description']\n    }]\n  };\n}\n\nconst verification = plan.verification || { commands: [], expected_outcomes: [] };\n\n// Output one item per step for looping\nreturn plan.steps.map((step, i) => ({\n  json: {\n    ...cmd,\n    plan_summary: plan.task_summary,\n    branch_name: plan.branch_name,\n    total_steps: plan.steps.length,\n    step_index: i,\n    step: step,\n    retryCount: 0,\n    verification\n  }\n}));"
      },
      "id": "a1000000-0000-0000-0000-000000000031",
      "name": "Parse Plan → Split Steps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 520]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repository }}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"refs/heads/{{ $json.branch_name }}\",\n  \"sha\": \"{{ $('Fetch Repo Tree').first().json.sha || 'main' }}\"\n}",
        "requestMethod": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000032",
      "name": "Create Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 400],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_GITHUB_CREDENTIAL_ID",
          "name": "GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000040",
      "name": "Loop Steps",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1540, 620]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repository }}/contents/{{ $json.step.target_file }}?ref=main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000041",
      "name": "Fetch Existing File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 620],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_GITHUB_CREDENTIAL_ID",
          "name": "GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $('Loop Steps').first().json;\nconst fileResp = $input.first().json;\n\nlet existing = null;\nlet fileSha = null;\nif (fileResp.content && fileResp.encoding === 'base64') {\n  existing = Buffer.from(fileResp.content, 'base64').toString('utf-8');\n  fileSha = fileResp.sha;\n}\n\nreturn {\n  json: {\n    ...item,\n    existingContent: existing,\n    fileSha\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000042",
      "name": "Prep for Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 620]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-create",
              "leftValue": "={{ $json.step.action }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1000000-0000-0000-0000-000000000043",
      "name": "New File? → Ollama",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 620]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_CODE_MODEL || 'deepseek-coder-v2:16b' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an Executor Agent. Write clean, production-quality code. Respond with ONLY the complete file content, no explanations or markdown fences.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Task: {{ $json.step.description }}\\nFile: {{ $json.step.target_file }}\\n{{ $json.reviewerFeedback ? 'FIX THESE ISSUES:\\n' + $json.reviewerFeedback : '' }}\\n\\nAcceptance criteria:\\n{{ $json.step.acceptance_criteria.join('\\\\n') }}\\n\\nWrite the complete file content.\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000050",
      "name": "⚡ Executor (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 520]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are an Executor Agent. Modify existing code as instructed. Respond with ONLY the complete updated file content, no explanations or markdown fences.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Task: {{ $json.step.description }}\\nFile: {{ $json.step.target_file }}\\n\\nExisting content:\\n{{ $json.existingContent || '(empty file)' }}\\n{{ $json.reviewerFeedback ? '\\nFIX THESE ISSUES:\\n' + $json.reviewerFeedback : '' }}\\n\\nAcceptance criteria:\\n{{ $json.step.acceptance_criteria.join('\\\\n') }}\\n\\nWrite the complete updated file content.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000051",
      "name": "⚡ Executor (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 740]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Prep for Executor').first().json;\nconst raw = $input.first().json;\n\nlet code;\nif (raw.message?.content) {\n  // Ollama\n  code = raw.message.content;\n} else if (raw.content?.[0]?.text) {\n  // Claude\n  code = raw.content[0].text;\n} else {\n  code = JSON.stringify(raw);\n}\n\n// Strip markdown fences\ncode = code.replace(/^```\\w*\\n?/, '').replace(/\\n?```$/, '').trim();\n\nreturn {\n  json: {\n    ...prev,\n    generatedCode: code,\n    commitMsg: prev.step.action + ': ' + prev.step.description.slice(0, 60)\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000052",
      "name": "Normalize Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 620]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repository }}/contents/{{ $json.step.target_file }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.commitMsg }}\",\n  \"content\": \"{{ Buffer.from($json.generatedCode, 'utf-8').toString('base64') }}\",\n  \"branch\": \"{{ $json.branch_name }}\"\n  {{ $json.fileSha ? ', \"sha\": \"' + $json.fileSha + '\"' : '' }}\n}",
        "requestMethod": "PUT",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000060",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 620],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_GITHUB_CREDENTIAL_ID",
          "name": "GitHub"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Reviewer Agent. Review code against acceptance criteria.\\n\\nRespond with ONLY valid JSON (no markdown fences):\\n{\\n  \\\"verdict\\\": \\\"PASS\\\" or \\\"FAIL\\\",\\n  \\\"criteria_results\\\": [{\\\"criterion\\\": \\\"...\\\", \\\"met\\\": true, \\\"comment\\\": \\\"\\\"}],\\n  \\\"feedback\\\": \\\"specific fix instructions if FAIL, empty string if PASS\\\"\\n}\\n\\nBe strict on criteria. Be practical on style.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"## Review\\n\\nFile: {{ $('Normalize Code').first().json.step.target_file }}\\nAction: {{ $('Normalize Code').first().json.step.action }}\\nDescription: {{ $('Normalize Code').first().json.step.description }}\\n\\nAcceptance Criteria:\\n{{ $('Normalize Code').first().json.step.acceptance_criteria.map((c, i) => (i+1) + '. ' + c).join('\\\\n') }}\\n\\nCode:\\n```\\n{{ $('Normalize Code').first().json.generatedCode }}\\n```\\n\\nReview against all criteria.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000070",
      "name": "👁 Reviewer (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, 620]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Normalize Code').first().json;\nconst resp = $input.first().json;\nconst text = resp.content?.[0]?.text || '';\n\nlet review;\ntry {\n  const m = text.match(/```(?:json)?\\n?([\\s\\S]*?)\\n?```/);\n  review = JSON.parse(m ? m[1] : text);\n} catch {\n  review = { verdict: 'PASS', criteria_results: [], feedback: '' };\n}\n\nconst passed = review.verdict === 'PASS';\nconst retryCount = prev.retryCount || 0;\nconst canRetry = prev.mode === 'ralph' && retryCount < prev.maxRetries;\n\nreturn {\n  json: {\n    ...prev,\n    verdict: review.verdict,\n    reviewFeedback: review.feedback || '',\n    criteriaResults: review.criteria_results || [],\n    passed,\n    retryCount: passed ? 0 : retryCount + 1,\n    shouldRetry: !passed && canRetry,\n    reviewerFeedback: !passed ? review.feedback : null\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000071",
      "name": "Parse Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 620]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "should-retry",
              "leftValue": "={{ $json.shouldRetry }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1000000-0000-0000-0000-000000000072",
      "name": "Retry? ($ralph)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3520, 620]
    },
    {
      "parameters": {
        "jsCode": "// Feed back to executor with reviewer feedback\nconst item = $input.first().json;\nreturn {\n  json: {\n    ...item,\n    // reviewerFeedback is already set from Parse Review\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000073",
      "name": "Retry with Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, 520]
    },
    {
      "parameters": {
        "jsCode": "// Step done (pass or final fail), continue to next step in loop\nconst item = $input.first().json;\nreturn {\n  json: {\n    step_id: item.step.step_id,\n    file: item.step.target_file,\n    verdict: item.verdict,\n    feedback: item.reviewFeedback,\n    verification: item.verification,\n    branch_name: item.branch_name,\n    repository: item.repository,\n    mode: item.mode,\n    maxRetries: item.maxRetries,\n    retryCount: item.retryCount\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000074",
      "name": "Step Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, 740]
    },
    {
      "parameters": {
        "jsCode": "// Collect all step results\nconst results = $input.all().map(i => i.json);\nconst cmd = $('Parse Command').first().json;\nconst plan = $('Parse Plan → Split Steps').first().json;\n\nconst passed = results.filter(r => r.verdict === 'PASS').length;\nconst failed = results.filter(r => r.verdict === 'FAIL').length;\nconst total = results.length;\n\nconst verification = plan.verification || { commands: [] };\n\nlet status = failed === 0 ? '✅' : '⚠️';\nlet stepSummary = results.map(r => \n  `${r.verdict === 'PASS' ? '✅' : '❌'} Step ${r.step_id}: \\`${r.file}\\``\n).join('\\n');\n\nreturn {\n  json: {\n    channelId: cmd.channelId,\n    repository: cmd.repository,\n    branch_name: plan.branch_name,\n    mode: cmd.mode,\n    maxRetries: cmd.maxRetries,\n    verification,\n    retryCount: Math.max(...results.map(r => r.retryCount || 0), 0),\n    message: `${status} **Task ${failed === 0 ? 'Complete' : 'Finished with Issues'}** (${passed}/${total} passed)\\n` +\n      `> ${cmd.task}\\n\\n` +\n      `${stepSummary}\\n\\n` +\n      `📦 Branch: \\`${plan.branch_name}\\``,\n    createPR: failed === 0\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000080",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 960]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-cmds",
              "leftValue": "={{ $json.createPR && ($json.verification?.commands?.length || 0) > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a2000000-0000-0000-0000-000000000001",
      "name": "Has Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 960]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "create-pr",
              "leftValue": "={{ $json.createPR }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1000000-0000-0000-0000-000000000081",
      "name": "All Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, 1100]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repository }}/pulls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github.v3+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[dev-team] {{ $('Parse Command').first().json.task.slice(0, 60) }}\",\n  \"body\": \"Automated by Dev Team Orchestrator\\n\\nRequested by: {{ $('Parse Command').first().json.author }}\\nMode: {{ $('Parse Command').first().json.mode }}\",\n  \"head\": \"{{ $json.branch_name }}\",\n  \"base\": \"main\"\n}",
        "requestMethod": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000082",
      "name": "Create PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 860],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_WITH_GITHUB_CREDENTIAL_ID",
          "name": "GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Summarize Results').first().json;\nconst pr = $input.first().json;\nconst prUrl = pr.html_url || '(PR creation failed)';\n\nreturn {\n  json: {\n    channelId: summary.channelId,\n    finalMsg: summary.message + `\\n🔗 PR: ${prUrl}`\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000083",
      "name": "Add PR Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 860]
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Summarize Results').first().json;\nreturn {\n  json: {\n    channelId: summary.channelId,\n    finalMsg: summary.message + '\\n\\n⚠️ Some steps failed. PR not created. Review and retry.'\n  }\n};"
      },
      "id": "a1000000-0000-0000-0000-000000000084",
      "name": "No PR (Failures)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 1200]
    },
    {
      "parameters": {
        "content": "={{ $json.finalMsg }}",
        "options": { "channelId": "={{ $json.channelId }}" }
      },
      "id": "a1000000-0000-0000-0000-000000000090",
      "name": "Post Result to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [3740, 960],
      "credentials": {
        "discordBotApi": {
          "id": "REPLACE_WITH_DISCORD_BOT_CREDENTIAL_ID",
          "name": "Discord Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create a K8s Job to clone the branch and run verification commands\nconst item = $input.first().json;\nconst cmds = item.verification.commands || [];\nconst image = item.verification.image || ($env.K8S_RUNNER_IMAGE || 'dev-team-runner:latest');\nconst branch = item.branch_name;\nconst repo = item.repository;\nconst jobName = 'verify-' + branch.replace(/\\//g, '-').slice(0, 40) + '-' + Date.now();\n\nconst manifest = {\n  apiVersion: 'batch/v1',\n  kind: 'Job',\n  metadata: {\n    name: jobName,\n    namespace: $env.K8S_NAMESPACE || 'dev-team',\n    labels: {\n      app: 'dev-team-verify',\n      branch: branch.replace(/\\//g, '-').slice(0, 63)\n    }\n  },\n  spec: {\n    ttlSecondsAfterFinished: 3600,\n    backoffLimit: 0,\n    activeDeadlineSeconds: 600,\n    template: {\n      metadata: {\n        labels: {\n          app: 'dev-team-verify',\n          'job-name': jobName\n        }\n      },\n      spec: {\n        restartPolicy: 'Never',\n        containers: [{\n          name: 'verify',\n          image: image,\n          command: ['/bin/sh', '-c'],\n          args: [\n            `git config --global url.\"https://\\${GITHUB_TOKEN}@github.com/\".insteadOf \"https://github.com/\" && ` +\n            `git clone --branch ${branch} --single-branch --depth 1 https://github.com/${repo}.git /workspace && ` +\n            `cd /workspace && ` +\n            `if [ -f requirements.txt ]; then pip install -q -r requirements.txt; fi && ` +\n            `if [ -f package.json ]; then npm ci --silent; fi && ` +\n            cmds.join(' && ')\n          ],\n          env: [\n            { name: 'GITHUB_TOKEN', value: $env.GITHUB_TOKEN || '' }\n          ],\n          resources: {\n            limits: { cpu: '1', memory: '2Gi' },\n            requests: { cpu: '500m', memory: '1Gi' }\n          }\n        }]\n      }\n    }\n  }\n};\n\nreturn {\n  json: {\n    ...item,\n    jobName,\n    k8sNamespace: $env.K8S_NAMESPACE || 'dev-team',\n    jobManifest: manifest\n  }\n};"
      },
      "id": "a2000000-0000-0000-0000-000000000002",
      "name": "Build K8s Job Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 860]
    },
    {
      "parameters": {
        "url": "={{ $env.K8S_API_URL }}/apis/batch/v1/namespaces/{{ $json.k8sNamespace }}/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.K8S_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.jobManifest) }}",
        "requestMethod": "POST",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a2000000-0000-0000-0000-000000000003",
      "name": "🚀 Create K8s Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 860],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "a2000000-0000-0000-0000-000000000004",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3080, 860]
    },
    {
      "parameters": {
        "url": "={{ $env.K8S_API_URL }}/apis/batch/v1/namespaces/{{ $('Build K8s Job Manifest').first().json.k8sNamespace }}/jobs/{{ $('Build K8s Job Manifest').first().json.jobName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.K8S_TOKEN }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a2000000-0000-0000-0000-000000000005",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 960]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "job-succeeded",
              "leftValue": "={{ ($json.status?.succeeded || 0) >= 1 || ($json.status?.failed || 0) >= 1 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a2000000-0000-0000-0000-000000000006",
      "name": "Job Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3520, 960]
    },
    {
      "parameters": {
        "url": "={{ $env.K8S_API_URL }}/api/v1/namespaces/{{ $('Build K8s Job Manifest').first().json.k8sNamespace }}/pods?labelSelector=job-name={{ $('Build K8s Job Manifest').first().json.jobName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.K8S_TOKEN }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "a2000000-0000-0000-0000-000000000007",
      "name": "Get Pod Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3740, 860]
    },
    {
      "parameters": {
        "url": "={{ $env.K8S_API_URL }}/api/v1/namespaces/{{ $('Build K8s Job Manifest').first().json.k8sNamespace }}/pods/{{ $json.items[0].metadata.name }}/log?tailLines=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.K8S_TOKEN }}" }
          ]
        },
        "options": { "allowUnauthorizedCerts": true, "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "a2000000-0000-0000-0000-000000000008",
      "name": "Read Job Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, 860]
    },
    {
      "parameters": {
        "jsCode": "const jobStatus = $('Check Job Status').first().json;\nconst logsRaw = $input.first().json;\nconst prev = $('Build K8s Job Manifest').first().json;\n\n// Logs may be a string or in .data\nconst logs = typeof logsRaw === 'string' ? logsRaw : (logsRaw.data || JSON.stringify(logsRaw));\n\nconst succeeded = (jobStatus.status?.succeeded || 0) >= 1;\nconst retryCount = prev.retryCount || 0;\nconst canRetry = prev.mode === 'ralph' && retryCount < prev.maxRetries;\n\nreturn {\n  json: {\n    ...prev,\n    verificationPassed: succeeded,\n    verificationLogs: typeof logs === 'string' ? logs.slice(0, 3000) : JSON.stringify(logs).slice(0, 3000),\n    retryCount: succeeded ? retryCount : retryCount + 1,\n    shouldRetryVerification: !succeeded && canRetry\n  }\n};"
      },
      "id": "a2000000-0000-0000-0000-000000000009",
      "name": "Parse Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4180, 860]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "verify-pass",
              "leftValue": "={{ $json.verificationPassed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a2000000-0000-0000-0000-000000000010",
      "name": "Verification Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4400, 860]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "can-retry-verify",
              "leftValue": "={{ $json.shouldRetryVerification }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a2000000-0000-0000-0000-000000000011",
      "name": "Retry Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4400, 1060]
    },
    {
      "parameters": {
        "jsCode": "// Feed verification errors back to the executor for all steps\nconst item = $input.first().json;\nconst planSteps = $('Parse Plan → Split Steps').all().map(i => i.json);\n\nreturn planSteps.map(stepItem => ({\n  json: {\n    ...stepItem,\n    retryCount: item.retryCount,\n    reviewerFeedback: 'VERIFICATION FAILED. Fix the code so these commands pass:\\n' +\n      'Commands: ' + (item.verification.commands || []).join(', ') + '\\n\\n' +\n      'Error output:\\n' + (item.verificationLogs || '(no logs)').slice(0, 2000)\n  }\n}));"
      },
      "id": "a2000000-0000-0000-0000-000000000012",
      "name": "Feed Errors to Executor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4620, 960]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn {\n  json: {\n    channelId: item.channelId,\n    finalMsg: item.message + '\\n\\n❌ **Verification failed** (retries exhausted)\\n```\\n' + (item.verificationLogs || '(no logs)').slice(0, 1500) + '\\n```'\n  }\n};"
      },
      "id": "a2000000-0000-0000-0000-000000000013",
      "name": "Verification Failed Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4620, 1160]
    },
    {
      "parameters": {
        "content": "## 🤖 Dev Team Orchestrator\n\nSingle-workflow implementation of the Architect → Executor → Reviewer → Verify pipeline.\n\n**Discord Commands:**\n- `$team <task> in owner/repo` — Single pass\n- `$ralph <task> in owner/repo` — Self-healing loop (3 retries)\n\n**Setup:**\n1. Replace CREDENTIAL_ID placeholders\n2. Set env vars: ANTHROPIC_API_KEY, OLLAMA_CODE_MODEL\n3. Ensure Ollama is running (docker-compose.override.yaml)\n4. Add GitHub credentials in n8n\n5. Set up K8s: kubectl apply -f k8s/setup.yaml\n6. Set K8S_API_URL, K8S_TOKEN, K8S_NAMESPACE env vars",
        "height": 320,
        "width": 500,
        "color": 5
      },
      "id": "a1000000-0000-0000-0000-000000000099",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, 60]
    },
    {
      "parameters": {
        "content": "## PHASE 1: Discord Input",
        "height": 80,
        "width": 300,
        "color": 1
      },
      "id": "note-phase1",
      "name": "Phase 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, 330]
    },
    {
      "parameters": {
        "content": "## PHASE 2: Architect (Planning)",
        "height": 80,
        "width": 300,
        "color": 3
      },
      "id": "note-phase2",
      "name": "Phase 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [860, 330]
    },
    {
      "parameters": {
        "content": "## PHASE 3: Executor → Reviewer Loop",
        "height": 80,
        "width": 300,
        "color": 4
      },
      "id": "note-phase3",
      "name": "Phase 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1740, 330]
    },
    {
      "parameters": {
        "content": "## PHASE 4: Verification (K8s Job)",
        "height": 80,
        "width": 400,
        "color": 2
      },
      "id": "note-phase4",
      "name": "Phase 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2620, 780]
    },
    {
      "parameters": {
        "content": "## PHASE 5: Results & PR",
        "height": 80,
        "width": 300,
        "color": 6
      },
      "id": "note-phase5",
      "name": "Phase 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2180, 880]
    }
  ],
  "connections": {
    "Discord Trigger": {
      "main": [[{ "node": "Filter $team/$ralph", "type": "main", "index": 0 }]]
    },
    "Filter $team/$ralph": {
      "main": [[{ "node": "Parse Command", "type": "main", "index": 0 }]]
    },
    "Parse Command": {
      "main": [[
        { "node": "Ack in Discord", "type": "main", "index": 0 },
        { "node": "Fetch Repo Tree", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Repo Tree": {
      "main": [[{ "node": "Build Context", "type": "main", "index": 0 }]]
    },
    "Build Context": {
      "main": [[{ "node": "🧠 Architect (Claude)", "type": "main", "index": 0 }]]
    },
    "🧠 Architect (Claude)": {
      "main": [[{ "node": "Parse Plan → Split Steps", "type": "main", "index": 0 }]]
    },
    "Parse Plan → Split Steps": {
      "main": [[
        { "node": "Create Branch", "type": "main", "index": 0 },
        { "node": "Loop Steps", "type": "main", "index": 0 }
      ]]
    },
    "Create Branch": {
      "main": [[]]
    },
    "Loop Steps": {
      "main": [
        [{ "node": "Summarize Results", "type": "main", "index": 0 }],
        [{ "node": "Fetch Existing File", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Existing File": {
      "main": [[{ "node": "Prep for Executor", "type": "main", "index": 0 }]]
    },
    "Prep for Executor": {
      "main": [[{ "node": "New File? → Ollama", "type": "main", "index": 0 }]]
    },
    "New File? → Ollama": {
      "main": [
        [{ "node": "⚡ Executor (Ollama)", "type": "main", "index": 0 }],
        [{ "node": "⚡ Executor (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "⚡ Executor (Ollama)": {
      "main": [[{ "node": "Normalize Code", "type": "main", "index": 0 }]]
    },
    "⚡ Executor (Claude)": {
      "main": [[{ "node": "Normalize Code", "type": "main", "index": 0 }]]
    },
    "Normalize Code": {
      "main": [[{ "node": "Commit to GitHub", "type": "main", "index": 0 }]]
    },
    "Commit to GitHub": {
      "main": [[{ "node": "👁 Reviewer (Claude)", "type": "main", "index": 0 }]]
    },
    "👁 Reviewer (Claude)": {
      "main": [[{ "node": "Parse Review", "type": "main", "index": 0 }]]
    },
    "Parse Review": {
      "main": [[{ "node": "Retry? ($ralph)", "type": "main", "index": 0 }]]
    },
    "Retry? ($ralph)": {
      "main": [
        [{ "node": "Retry with Feedback", "type": "main", "index": 0 }],
        [{ "node": "Step Done", "type": "main", "index": 0 }]
      ]
    },
    "Retry with Feedback": {
      "main": [[{ "node": "New File? → Ollama", "type": "main", "index": 0 }]]
    },
    "Step Done": {
      "main": [[{ "node": "Loop Steps", "type": "main", "index": 0 }]]
    },
    "Summarize Results": {
      "main": [[{ "node": "Has Verification?", "type": "main", "index": 0 }]]
    },
    "Has Verification?": {
      "main": [
        [{ "node": "Build K8s Job Manifest", "type": "main", "index": 0 }],
        [{ "node": "All Passed?", "type": "main", "index": 0 }]
      ]
    },
    "Build K8s Job Manifest": {
      "main": [[{ "node": "🚀 Create K8s Job", "type": "main", "index": 0 }]]
    },
    "🚀 Create K8s Job": {
      "main": [[{ "node": "Wait 15s", "type": "main", "index": 0 }]]
    },
    "Wait 15s": {
      "main": [[{ "node": "Check Job Status", "type": "main", "index": 0 }]]
    },
    "Check Job Status": {
      "main": [[{ "node": "Job Done?", "type": "main", "index": 0 }]]
    },
    "Job Done?": {
      "main": [
        [{ "node": "Get Pod Name", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s", "type": "main", "index": 0 }]
      ]
    },
    "Get Pod Name": {
      "main": [[{ "node": "Read Job Logs", "type": "main", "index": 0 }]]
    },
    "Read Job Logs": {
      "main": [[{ "node": "Parse Verification", "type": "main", "index": 0 }]]
    },
    "Parse Verification": {
      "main": [[{ "node": "Verification Pass?", "type": "main", "index": 0 }]]
    },
    "Verification Pass?": {
      "main": [
        [{ "node": "Create PR", "type": "main", "index": 0 }],
        [{ "node": "Retry Verification?", "type": "main", "index": 0 }]
      ]
    },
    "Retry Verification?": {
      "main": [
        [{ "node": "Feed Errors to Executor", "type": "main", "index": 0 }],
        [{ "node": "Verification Failed Final", "type": "main", "index": 0 }]
      ]
    },
    "Feed Errors to Executor": {
      "main": [[{ "node": "Loop Steps", "type": "main", "index": 0 }]]
    },
    "Verification Failed Final": {
      "main": [[{ "node": "Post Result to Discord", "type": "main", "index": 0 }]]
    },
    "All Passed?": {
      "main": [
        [{ "node": "Create PR", "type": "main", "index": 0 }],
        [{ "node": "No PR (Failures)", "type": "main", "index": 0 }]
      ]
    },
    "Create PR": {
      "main": [[{ "node": "Add PR Link", "type": "main", "index": 0 }]]
    },
    "Add PR Link": {
      "main": [[{ "node": "Post Result to Discord", "type": "main", "index": 0 }]]
    },
    "No PR (Failures)": {
      "main": [[{ "node": "Post Result to Discord", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "dev-team" }
  ]
}
